<div class="content-body">
  <h2 class="text-center my-4">Internships</h2>

  <!-- Add Internship Button -->
  <div class="container mb-4 text-center">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addInternshipModal">
      <i class="bi bi-plus-circle me-2"></i>Add Internship
    </button>
  </div>

  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table custom-table table-hover table-bordered text-center align-middle shadow-sm rounded">
        <thead class="table-header">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let internship of internships">
            <td class="text-truncate" style="max-width: 250px; width: 250px;">{{ internship.title }}</td>
            <td class="text-truncate" style="max-width: 350px; width: 350px;">{{ internship.description }}</td>
            <td style="width: 150px;">{{ internship.startDate | date:'dd/MM/yyyy' }}</td>
            <td style="width: 150px;">{{ internship.endDate | date:'dd/MM/yyyy' }}</td>
            <td style="width: 150px;">
              <span class="badge px-3 py-2" [ngClass]="{
                'bg-primary': internship.status === 'IN_PROGRESS',
                'bg-success': internship.status === 'COMPLETED',
                'bg-danger': internship.status === 'CANCELED'
              }">
                {{ internship.status.replace('_', ' ') }}
              </span>
            </td>
            <td style="width: 150px;">
              <button class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" 
                      [attr.data-bs-target]="'#updateInternshipModal' + internship.id"
                      (click)="selectInternship(internship)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteInternship(internship.id!)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Message if no internships are found -->
  <div *ngIf="internships.length === 0" class="alert alert-warning text-center mt-3">
    No internships found.
  </div>

  <!-- Update Internship Modal -->
  <ng-container *ngFor="let internship of internships">
    <div class="modal fade" [id]="'updateInternshipModal' + internship.id" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">Update Internship</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #updateForm="ngForm" (ngSubmit)="updateForm.valid && updateInternship()">
              <div class="form-group">
                <label class="text-black font-w500">Title</label>
                <input [(ngModel)]="selectedInternship.title" name="title" class="form-control" required>
              </div>
              <div class="form-group">
                <label class="text-black font-w500">Description</label>
                <input [(ngModel)]="selectedInternship.description" name="description" class="form-control" required>
              </div>
              <div class="form-group">
                <label class="text-black font-w500">Start Date</label>
                <div class="cal-icon">
                  <input type="date" [(ngModel)]="selectedInternship.startDate" name="startDate" class="form-control" required>
                  <i class="far fa-calendar-alt"></i>
                </div>
              </div>
              <div class="form-group">
                <label class="text-black font-w500">End Date</label>
                <div class="cal-icon">
                  <input type="date" [(ngModel)]="selectedInternship.endDate" name="endDate" class="form-control" required>
                  <i class="far fa-calendar-alt"></i>
                </div>
              </div>
              <div class="form-group">
                <label class="text-black font-w500">Status</label>
                <select [(ngModel)]="selectedInternship.status" name="status" class="form-control" required>
                  <option *ngFor="let status of statuses" [value]="status">{{ status.replace('_', ' ') }}</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid" data-bs-dismiss="modal">Save Changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Modal for adding a new internship -->
  <div class="modal fade" id="addInternshipModal" tabindex="-1" aria-labelledby="addInternshipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addInternshipModalLabel">Add Internship</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #internForm="ngForm" (ngSubmit)="internForm.valid && onSubmitInternship(internForm)" name="internshipForm">
            <div class="form-group mb-3">
              <label class="text-black font-w500">Title <span class="text-danger">*</span></label>
              <input
                [(ngModel)]="internship.title"
                name="title"
                class="form-control"
                required
                #title="ngModel"
                [class.is-invalid]="title.invalid && (title.dirty || title.touched)"
              />
              <div *ngIf="title.invalid && (title.dirty || title.touched)" class="invalid-feedback">
                Title is required.
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="text-black font-w500">Description <span class="text-danger">*</span></label>
              <textarea
                [(ngModel)]="internship.description"
                name="description"
                class="form-control"
                required
                #description="ngModel"
                [class.is-invalid]="description.invalid && (description.dirty || description.touched)"
              ></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                Description is required.
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="text-black font-w500">Start Date <span class="text-danger">*</span></label>
              <div class="cal-icon">
                <input
                  type="date"
                  [(ngModel)]="internship.startDate"
                  name="startDate"
                  class="form-control"
                  required
                  #startDate="ngModel"
                  [class.is-invalid]="startDate.invalid && (startDate.dirty || startDate.touched)"
                />
                <i class="far fa-calendar-alt"></i>
              </div>
              <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="invalid-feedback">
                Start Date is required.
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="text-black font-w500">End Date <span class="text-danger">*</span></label>
              <div class="cal-icon">
                <input
                  type="date"
                  [(ngModel)]="internship.endDate"
                  name="endDate"
                  class="form-control"
                  required
                  #endDate="ngModel"
                  [class.is-invalid]="endDate.invalid && (endDate.dirty || endDate.touched)"
                />
                <i class="far fa-calendar-alt"></i>
              </div>
              <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="invalid-feedback">
                End Date is required.
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="text-black font-w500">Status <span class="text-danger">*</span></label>
              <select
                [(ngModel)]="internship.status"
                name="status"
                class="form-control"
                required
                #status="ngModel"
                [class.is-invalid]="status.invalid && (status.dirty || status.touched)"
              >
                <option *ngFor="let status of statuses" [value]="status">{{ status.replace('_', ' ') }}</option>
              </select>
              <div *ngIf="status.invalid && (status.dirty || status.touched)" class="invalid-feedback">
                Status is required.
              </div>
            </div>
            <div class="form-group text-end">
              <button type="submit" class="btn btn-primary" [disabled]="!internForm.valid || isSubmittingInternship">
                <span *ngIf="isSubmittingInternship" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                {{ isSubmittingInternship ? 'Saving...' : 'Save Internship' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>