<div class="row">
  <div class="col-xl-6 col-xxl-12">
    <div class="card">
      <div class="card-header border-0">
        <h4 class="fs-20 mb-0 text-black">User Profile</h4>
      </div>
      <div class="card-body text-center">
        <div class="profile-photo">
          <img src="assets/img/man (1).png" width="100" class="img-fluid rounded-circle" alt="Profile Picture">
        </div>
        <h3 class="mt-4 mb-1">{{ profile.username }}</h3>
        <p class="text-muted">{{ profile.email }}</p>
        <p class="text-muted">Roles: {{ profile.roles.join(', ') }}</p>
        <button class="btn btn-primary btn-rounded mt-3 px-5" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
