# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/microservices.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
