<!-- frontend/src/app/components/access-denied/access-denied.component.html -->
<div class="access-denied-wrapper">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
      <div class="access-denied-card">
        <h2 class="title">Access Denied!</h2>
        <p class="message">ehaa ehaa !! u r not an admin <span class="emoji">😛</span></p>
        <p class="countdown">Redirecting to Home in {{ countdown }} seconds...</p>
        <button class="home-button" (click)="goToHome()">Go to Home Now</button>
      </div>
    </div>
  </div>
</div>
