<div class="row">
    <div class="col-xl-12 col-xxl-12">
      <div class="card">
        <div class="card-header border-0">
          <h4 class="fs-20 mb-0 text-black">Interview Management</h4>
        </div>
        <div class="card-body">
          <div class="container mt-4">
            <h2>Liste des Interviews</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>reference </th>
                  <th>link</th>
                  <th>status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Interview of paginatedRows">
                  <td>{{ Interview.reference  }} </td>
                  <td>{{ Interview.link }}</td>
                  <td>{{ Interview.status  }}</td>
                  <td>
                    <button (click)="deleteInterview(Interview.id!)" class="btn btn-danger">Supprimer</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pagination">
                <button (click)="changePage(currentPage - 1)" [disabled]="currentPage <= 1">Previous</button>
                <span>Page {{ currentPage }} of {{ totalPages }}</span>
                <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages">Next</button>
              </div>

            <h3 class="mt-4">Ajouter un Interview</h3>
            <div class="form-group">
              <label for="amount">reference</label>
              <input id="amount" class="form-control" [(ngModel)]="newInterview.reference" placeholder="reference" type="text"  required />
            </div>
            <div class="form-group">
                <label for="link">link</label>
                <input id="link" class="form-control" [(ngModel)]="newInterview.link" placeholder="link" type="text"  required />
              </div>
              <div class="form-group">
                <label for="status">status</label>
                <input id="status" class="form-control" [(ngModel)]="newInterview.status" placeholder="status" type="text"  required />
              </div>


            <button (click)="addInterview()" class="btn btn-success mt-2" [disabled]="!newInterview.reference || !newInterview.link || !newInterview.status">Ajouter</button>
          </div>
  </div>
  </div>
  </div>
  </div>
